body {
    font-family: Arial, sans-serif;
    background-color: #d1d1d1;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container-create {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.table-container {
    overflow-x: auto; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #333;
    text-align: left;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
    text-transform: uppercase;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

button:hover {
    opacity: 0.8;
}

.edit-btn {
    background-color: #ffc107;
    color: black;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

.add-btn {
    background-color: #28a745;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*  ----------------------   MODAL    -------------------------  */
.modal-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.modal-container {
    display: none;
    background-color: #ffffff;
    /* box-shadow: 0px 3px 6px #00000029; */
    box-shadow: 0px 0px 10px rgb(49, 49, 49);
    padding: 40px;
    margin: 10px 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    z-index: 1;
    max-height: 80vh;
    overflow-y: auto;  
}
.modal-container::-webkit-scrollbar{
    display: none;
}
/*  ----------------------  FINAL DE MODAL    -------------------------  */









@media (max-width: 600px) {
    table {
        font-size: 14px;
    }

    button {
        font-size: 12px;
        padding: 6px 10px;
    }

    input {
        font-size: 14px;
    }
}